@import url('https://unpkg.com/filepond/dist/filepond.css');
.app {
    min-height: calc(100vh - 104px);
}
.flex.flex-wrap.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 104px);
}
.flex.flex-wrap.align-items-center > * {
    width: 100%;
}
.body--dashboard {
    background: #5e5e5e;
}
.header {
    padding-bottom: 0;
    background: #df2027;
}
.header-logo {
    max-height: 60px;
    padding: 12px 0;
}
.footer {
    padding: 12px 0;
    background: #494949;
}
.filepond--root.filepond.filepond--hopper {
    background: #5e5e5e;
}
.filepond--root .filepond--drop-label {
    background: #686868;
    color: #fff;
    font-size: 24px;
    border: 1px dashed #999;
    border-radius: 10px;
}
.filepond--root .filepond--drop-label,
.filepond--root .filepond--drop-label * {
    cursor: pointer;
}
.filepond--panel.filepond--panel-root * {
    background: #5e5e5e!important;
}
.filepond--list.filepond--list {
    margin-top: 10px;
}
.header__item a,
.header__user a,
.header__user a .icon {
    color: #fff;
}
.ham__icon:after, 
.ham__icon:before,
.ham__line {
    background: #ffffff;
}
/** Login **/

section.login {
    padding: 20px;
    background: #5e5e5e;
    border-radius: 2px;
}
.login {
    padding-bottom: 0;
}
h2.f--heading.login__heading {
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.login__heading+.login__fieldset {
    margin-top: 0;
}
.login__button {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #df2027;
    margin: 20px 0 0;
}
.a17.a17--login .logo {
    text-align: center;
}
.a17.a17--login .logo img {
    max-width: 175px;
}
.login__help, .login__label {
    display: block;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #fff;
}
a.uf-btn {
    text-align: center;
    margin: 0 auto;
    padding: 5px 20px;
    width: auto;
    background: #df2027;
    color: #fff;
    font-weight: bold;
}
li.header__item.s--on a {
    background: #d1080f;
}
.small {
    font-size: 14px!important;
    display: block;
}